<% @users.each do |user|%>
  <li class="list-group-item">
    <%= user.name%> 
    <%if is_friend?(user.id)%>
    <%=link_to"+",guest_friend_request_path(user.id),class:"navbar-right btn-info btn-xs" , style:"font-size:20px;"%>
    <main class="bg-info appearance" data-behavior="appear_away">nf</main>
    
    <% if user.online?%>
    <i class="badge glyphicon glyphicon-signal" style="background:green;">&nbsp;</i>
    <% end%>
    <%end%>
  </li>
  <% end %>
  <div class="apple_pagination" style="height:10%;">
  <%= paginate @users %>
  </div>
</ul>
<!--  ###############   Friend List  ################-->
<% if friend_list1.present?%>
<ul class="list-group">
    <% friend_list1.each do |friend|%>
    <%user=User.find(friend.friend_id)%>
     <li class="list-group-item"> <%= user.name%>
       <% if user.online?%>
    <i class="badge bg-success glyphicon glyphicon-signal" style="background:green;">&nbsp;</i>
    <% end%>
     	<span class="badge"><%=user.events.count %></span>

     </li>
    <% end %>
</ul>
<% end%>

<% if friend_list2.present?%>
<ul class="list-group">
    <% friend_list2.each do |friend|%>
     <%user=User.find(friend.user_id)%>
     <li class="list-group-item"> <%= user.name%>
       <% if user.online?%>
    <i class="badge bg-success glyphicon glyphicon-signal" style="background:green;">&nbsp;</i>
    <% end%>
     	<span class="badge"><%=user.events.count %></span>

     </li>
    <% end %>
</ul>
<% end%>