<div class="col-md-9"><center>
		<div class="jumbotron">
		<% if @even_last.present?%>
		  <h1><%= @even_last.title%></h1>
		  <p><%= @even_last.discription%></p>
		  <p><%=link_to"Publish",publish_event_path%></p>
		  <% else%>
		  <p>No events available ! &nbsp;
		  <%=link_to"Create New Event",new_event_path,class:"btn btn-default btn-lg "%></p>
		  <% end%>
		</div></center>

 <%if myevent=current_user.events%>	
 <% a=0%>
 <div class="col-md-3">
 <% myevent.each do |event|%>	
   <% if a%2==0%>
	<div class="panel panel-primary">
	
	  <div class="panel-heading">
	   
	    <h3 class="panel-title"><%= event.title%>
	    	
	    </h3>
	  </div>
	  <div class="panel-body">
	    <%= event.discription%><%=link_to"Read more..",event_path(event)%>
	    <span class="badge"><%= event.date.to_formatted_s(:rfc822) if event.date%></span>
       <ul class="nav nav-pills">
        <li><%=button_to"delete",destroy_event_path(event) ,class:"btn btn-primary btn-sm"%></li>
        
        <li><%=button_to"update",update_event_path(event),class:"btn btn-primary btn-sm"%></li>
        </ul>
	  </div>
	</div>
   <% end%>
   <% a=a+1%>
   <% end %>
   </div>
  <% end %>



  <%if myevent=current_user.events%>	
 <% a=0%>
 <div class="col-md-3">
 <% myevent.each do |event|%>	
   <% unless a%2==0%>
	<div class="panel panel-primary">
	
	  <div class="panel-heading">
	   
	    <h3 class="panel-title"><%= event.title%></h3>
	  </div>
	  <div class="panel-body">
	    <%= event.discription%><%=link_to"Read more..",event_path(event)%>
	    <span class="badge"><%= event.date.to_formatted_s(:rfc822) if event.date%></span>
	    <ul class="nav nav-pills">
        <li><%=button_to"delete",destroy_event_path(event),class:"btn btn-primary btn-sm"%></li>
       
        <li><%=button_to"update",update_event_path(event),class:"btn btn-primary btn-sm"%></li>
        </ul>
	  </div>
	</div>
   <% end%>
   <% a=a+1%>
   <% end %>
   </div>
  <% end %>
  <!--================================  Others' Events ===========================-->

  <% if friend_list1.present?%>
   <div class="col-md-3">
   <% friend_list1.each do |frnd|%>

   <% friend=User.find(frnd.friend_id)%>
    <% if friend.events.present?%>
     <% friend.events.each do |event|%>
	<div class="panel panel-primary">
	
	  <div class="panel-heading">
	   
	    <h3 class="panel-title"><%= event.title%></h3>
	    <span class="badge"><%=link_to "Publish by #{User.find(event.user_id).name}"%></span>
	   
	  </div>
	  <div class="panel-body">
	    <%= event.discription%> <%=link_to"Read more..",event_path(event)%>
	    <span class="badge"><%= event.date.to_formatted_s(:rfc822) if event.date%></span>
	    
       <% if event.join_events.where(user_id:current_user.id,host_id:event.user_id,status:"pending").present?%>
      
       <div class="btn btn-default btn-lg btn-block"%>Join under process.. !</div>
       <%# end %>
       <% elsif event.join_events.where(user_id:current_user.id,host_id:event.user_id,status:"accept").present?%>
	    
	   <div class="btn btn-default btn-lg btn-block"%>You Joined.. !</div>
       <%# end %>
       <% else %> <%#event.join_events.where(user_id:current_user.id,host_id:frnd.friend_id).present?%>
	  
	   <%=form_tag request_join_event_url(event.user_id) do %>

        <%= hidden_field_tag "event_id",event.id%>
        <%=submit_tag "Join Event !", class:"btn btn-default btn-lg btn-block"%>

 	   <%end%>
 	   <% end %>
	  </div>
	</div>
	<% end %>
	<% end%>
	<% end%>
	</div>
  <%end %>

  <% if friend_list2.present?%>
   <div class="col-md-3">
   <% friend_list2.each do |frnd|%>

   <% friend=User.find(frnd.user_id)%>
    <% if friend.events.present?%>
     <% friend.events.each do |event|%>
	<div class="panel panel-primary">
	
	  <div class="panel-heading">
	   
	    <h3 class="panel-title"><%= event.title%></h3>
	    <span class="badge"><%=link_to "Publish by #{User.find(event.user_id).name}"%></span>
	  </div>
	  <div class="panel-body">
	    <%= event.discription%><%=link_to"Read more..",event_path(event)%>
	    <span class="badge"><%= event.date.to_formatted_s(:rfc822) if event.date%></span>
	    
	    <%#= render 'form', locals:{ :event => event} %>
	    
	    <% if event.join_events.where(user_id:current_user.id,host_id:event.user_id,status:"pending").present?%>
       
       <div class="btn btn-default btn-lg btn-block"%>Join under process !</div>
       
       <% elsif event.join_events.where(user_id:current_user.id,host_id:event.user_id,status:"accept").present?%>
	    <div class="btn btn-default btn-lg btn-block"%>You Joined !</div>
       <% else %><%# event.join_events.where(user_id:current_user.id,host_id:frnd.friend_id).present?%>
	   <%=form_tag request_join_event_url(event.user_id) do %>

        <%= hidden_field_tag "event_id",event.id%>
        <%=submit_tag "Join Event !", class:"btn btn-default btn-lg btn-block"%>

 	   <%end%>
 	   <% end %>
	  </div>
	</div>
	<% end %>
	<% end%>
	<% end%>
	</div>
  <%end %>
	
</div>
<!-- ====================   Friends List + User List ======================= -->
<div class="col-md-3">

<ul class="list-group">

<%= render "friends", @user%>
</div>

